<div class="container bgcYellow">
    <div class="headerLine">
        <div class="logo">
            <a routerLink="/"><img id="mainLogo" src="assets/img/logo.png"></a>
        </div>
        <h1>Module, Kurse und Workshops planen und verwalten</h1>
        <nav>
            <a routerLink="/vote"><button class="mainButton mr24">Module wählen</button></a>
            <a routerLink="/generate"><button class="mr24">Module erstellen</button></a>
            <button class="mr24">Module verwalten</button>
        </nav>
    </div>
</div>