<div class="container">
    <div class="content raster">
        <h1>Verteilungsplan einrichten</h1>
        <h3>Lege nun alle Regeln für deinen Verteilungsplan fest. Füge dann die gewünschten Module hinzu.</h3>
        <div class="mainBox">
            <table>
                <tr>
                    <td>List-ID:</td>
                    <td>{{ data.createdID }}</td>
                </tr>
                <tr>
                    <td>Titel:</td>
                    <td>Test 123</td>
                </tr>
            </table>
        </div>
    </div>
</div>