<div class="createBox">
    <input name="email" type="text" placeholder="Email-Adresse eintragen">
    <input name="password" type="password" placeholder="Passwort festlegen">
    <input name="password2" type="password" placeholder="Passwort wiederholen">
    <input name="title" type="text" placeholder="Titel eintragen">
    <button>Fertig</button>
    <div class="showID">
        <h2>Deine Plan-ID lautet:</h2>
        <h1>XXXXXX</h1>
        <h3>Notiere dir diese generierte Plan-ID. Zusammen mit deinem festgelegten Passwort kannst du deine Module verwalten und auswerten.</h3>
    </div>
    <button>Verteilerplan fertigstellen</button>
</div>